
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.main{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2A7B9B;
    background: linear-gradient(39deg, rgba(42, 123, 155, 1) 0%, rgba(87, 193, 199, 0.21) 48%, rgba(222, 237, 83, 0.04) 92%);
}

.main .box{
    width: 400px;
    height: 400px;
    border: solid 2px #000;
    border-radius: 15px;
    padding: 20px;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.box .field{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.field label{
     font-size: 18px;
}

.field input{
    height: 40px;
    font-size: 18px;
    padding-left: 10px;
}

.box button{
    width: 100%;
    padding: 9px 0px;
    cursor: pointer;
    font-size: 18px;
    background: #51ed4e;
    border: none;
    border-radius: 10px;
}

.result{
    font-size: 18px;
    color: green;
}